* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.noir {
  background-color: black;
}

.nomApp {
  padding: 2% 10%;
  font-size: 1.5em;
  color: white;
}

.rouge {
  background-color: #EB3C4E;
  padding: 1%;
}



