.rouge {
  color: #EB3C4E;
}

.bleu {
  color: #48B7E1;
}

.vert {
  color: limegreen;
}

.noir {
  background-color: black;
}

.ticket-titre {
  border: 2px solid white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  padding: 2%;
  border-radius: 15px;
  font-size: larger;
}

.status {
  float: right;
}

.suppression-ticket {
  float: right;
}

.search {
  padding: 1% 1%;
  background-color: black;
}

.deconnexion {
  float: right;
  margin: 1%;
}
