<div class="noir">
  <button class="btn btn-outline-light deconnexion" (click)="onDeconnexion()">Déconnexion</button>
  <div class="search">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un ticket" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
  </div>
</div>
<div class="jumbotron" *ngFor="let t of tabTicket">
  <h3 class="ticket-titre"><span><i class="fa fa-ticket"></i></span> {{t.objet}}</h3>
  <p>#{{t.id}} - {{t.categorie}}</p>
  <p class="status">
    <i class="fa fa-circle" [ngClass]="{
    'rouge': t.status === 'En cours',
    'bleu': t.status === 'Terminé non validé',
    'vert': t.status  === 'Terminé validé' }">
    </i>
    {{t.status}}
  </p>
  <p>Publié le : {{valueDate | date: 'dd/MM/yyyy'}}</p>
  <p>{{t.message}}</p>
  <button class="btn btn-sm btn-outline-danger suppression-ticket" (click)="onSupprimerTicket(t.id)"><i
    class="fa fa-times-circle"> Supprimer
    Ticket</i></button>
</div>
